venv
*/venv
__pycache__
*/__pycache__
anchor_mapping.txt
anchor_pose_*.npz
camera_coef.npz
*/*.blend1
images/cal
*.pt
cranebot.log
mks42c_expected_err.cal
zero-angles.txt
tests/last_dataset
*_dataset
dataset_heatmap/
laundry_spots_data/
gant_pos.npy