venv
*/venv
__pycache__
*/__pycache__
cranebot.log
gant_pos.npy
conf*.json
*.pt
collected_cal_data.pickle
models_compressed/
laundry_spots_data/
square_centering_data_unlabeled/
square_centering_data/
user_targets_data/
target_heatmap_data/
target_heatmap_data_unlabeled/