include README.md
include LICENSE
recursive-include src/nf_robot/ui/assets *
recursive-include src/nf_robot/protos *.proto
recursive-include src/nf_robot/scripts *.sh
global-exclude *.pyc
global-exclude pycache