numpy
websockets==15.0.1
zeroconf==0.147.0
pyserial==3.5
getmac==0.9.5
inventorhatmini==1.0.0
gpiodevice==0.0.5
Adafruit-Blinka==8.56.0
adafruit-circuitpython-bno08x==1.2.9
adafruit-circuitpython-vl53l1x==1.2.2
RPi.GPIO==0.7.1