[Unit]
Description=Setup CAN0 interface for Actuators
DefaultDependencies=no
After=sys-subsystem-net-devices-can0.device
BindsTo=sys-subsystem-net-devices-can0.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/can-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target