[Unit]
Description=Setup CAN0 interface for Actuators
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ip link set can0 up type can bitrate 1000000
ExecStart=/sbin/ifconfig can0 txqueuelen 65536
ExecStartPost=/sbin/ifconfig can0 up

[Install]
WantedBy=multi-user.target