pytest

-r ../requirements_raspi.txt

numpy==2.2.5
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
scipy==1.15.3
zeroconf==0.147.0
asyncio==3.4.3
websockets==15.0.1
panda3d==1.10.15
Pillow==11.3.0